/* HEADER STYLE */
body {
  background: #fbfbfb;
  overflow-x: hidden;
}

header {
  min-height: 5vh;
  /* background: #232121; */
  background: linear-gradient(to right, #1e1c1c, #181616);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fbfbfb;
  box-shadow: 0px 6px 15px rgba(172, 172, 172, 0.7);
  flex-wrap: wrap;
  width: 100vw;
}

header .page-title {
  font-weight: bold;
  font-size: 1.8rem;
  margin-left: 0.3rem;
  padding-left: 1rem;
  margin-right: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-message {
  color: grey;
  margin-top: 5%;
  /* transform: scale(2.5); */
  opacity: 0.35;
  font-size: 3vw;
  letter-spacing: 1px;
  word-wrap: break-word;
  /* text-shadow: 1px 2px 4px rgba(120, 120, 120, 0.7); */
}

.logo {
  width: 60px;
}

.search-bar-and-nro-people {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  column-gap: 18%;
  align-items: flex-end;
  flex-wrap: wrap;
  row-gap: 1rem;
}

.filtered-users {
  font-size: 1.5rem;
  font-weight: bold;
  padding-right: 2rem;
  padding-bottom: 4px;
  padding-left: 7px;
  border-bottom: 2px solid rgb(204, 204, 204);
  border-right: 2px solid rgb(204, 204, 204);
  border-bottom-right-radius: 5px;
}

.people-section {
  margin-bottom: 1rem;
}

.person-card {
  width: 40vw;
  border-radius: 3px;
  background: #e4e4e4;
  padding: 0.9rem;
  color: #393939;
  margin: 0.5rem;
  margin-top: 1rem;
  position: relative;
}

.person-card:hover {
  /* zoom: 102%; */
  box-shadow: 0px 4px 10px rgba(172, 172, 172, 0.75);
}

.person-card .main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.bord-at {
  font-size: 1rem;
}

@media (max-width: 1000px) {
  .person-card .main-info {
    justify-content: center;
  }

  .person-card {
    min-width: 266px;
  }

  .page-title {
    font-size: 50vw;
  }

  header {
    justify-content: center;
  }
}

@media (max-width: 490px) {
  .date-form {
    justify-content: center;
  }
}
.section-separation {
  display: block;
  margin: 0 auto;
  height: 1px;
  width: 100%;
  background-color: lightslategrey;
  margin-top: 0.5rem;
}

.card-interactions {
  display: flex;
  column-gap: 5px;
  min-width: 20%;
}

.card-interactions button {
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.card-interactions .show-details {
  background-color: #374357;
  color: white;
  outline-style: none;
}

.card-interactions .show-details:hover {
  background-color: #38627e;
}

.card-interactions .drop-user-warning {
  background-color: #c70039;
  color: white;
}

.card-interactions .drop-user-warning:hover {
  background-color: #e20241;
}

.details {
  margin-top: 1rem;
}

.details > p {
  line-height: 1.5rem;
}

.details > p strong {
  margin-right: 3px;
}
.date-form {
  display: flex;
  min-width: 30vw;
  align-items: center;
  column-gap: 15px;
  color: white;
  flex-wrap: wrap;
  margin-right: 1vw;
}

.date-form input[type="date"] {
  padding-inline: 5px;
  padding-block: 3px;
  text-align: center;
}

.date-form label {
  font-weight: bold;
  width: auto;
}

.date-form button[type="submit"] {
  background: #ffa300;
  color: black;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.5rem;
  outline-style: none;
  border: none;
  text-align: center;
  flex-basis: 15%;
  font-size: 0.95rem;
}

.date-form button[type="submit"]:hover {
  background: #fdb840;
}

::-webkit-calendar-picker-indicator {
  background-color: #95bcd6;
  padding: 3px;
  cursor: pointer;
  border-radius: 3px;
  color: red;
}

.user-deletion {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
  background: #1f2b3e;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  border-radius: inherit;
  gap: 0.7rem;
  color: white;
  flex-wrap: wrap;
}

.deletion-options {
  display: flex;
  /* margin: 0 auto; */
  column-gap: 0.7rem;
}

.user-deletion button {
  padding: 0.5rem;
  border-radius: 3px;
  width: 120px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  color: white;
}

.delete-warning {
  background-color: #c70039;
}

.delete-cancel {
  background: #cee8ff;
  color: black !important;
}

.fullname {
  padding-left: 1rem;
  padding-block: 0.2rem;
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
}

.user-top-delete {
  color: #cee8ff;
  font-weight: bold;
}

.search-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  margin-left: 0.5rem;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
  width: 90%;
  background: transparent;
  font-size: 1rem;
  font-weight: bold;
}

.search-bar::placeholder {
  color: #374357;
}

.search-icon {
  width: 1rem;
}

.pdf-link {
  color: #14459a;
  font-weight: bold;
}

.pdf-link:hover {
  color: #485a7a;
}

footer {
  position: sticky;
  width: 100%;
  height: 4vh;
  top: 100%;
  background: #0f1c2e;
  color: white;
  text-align: center;
  line-height: 4vh;
  margin-top: 1rem;
}
